a.nav-link {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

img {
    height: 250px;
    width: 250px;
}

.card.border-dark.mb-3 {
    margin-left: 15px;
}

img#main-image {
    border: 6px solid #eee;
}

img#main-image:hover {
    border: 6px solid #222;
}

i.fa.fa-linkedin.fa-4x {
    margin-left: 700px;
}

i.fa.fa-envelope.fa-4x {
    color: black;
}

.container-fluid {
    margin-top: 25px;
}