a.nav-link {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

img {
    height: 250px;
    width: 250px;
}

.card.border-dark.mb-3 {
    margin-left: 15px;
}

img#main-image {
    border: 6px solid #eee;
}
img#main-image:hover {
    border: 6px solid #222;
}