i.fa.fa-linkedin.fa-4x {
    color: #007bb6;
}

i.fa.fa-github.fa-4x {
    color: white;
}

.nav-wrapper {
    background-color: black;
}
a.brand-logo {
    color: white;
}

img {
    width: 250px;
    margin-top: 10px;
}

#about-link, #portfolio-link,#skills-link {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h1 {
    font-weight: bolder;
    font-family: 'Bitter', serif;
}
body {
    background-image:url("https://i.pinimg.com/736x/78/8b/9a/788b9a615b7e442abbbdae4ab9c2bc9f.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  a.waves-effect.waves-light.btn {
    margin-left:10px;
    margin-bottom: 10px;
    color: black;
}

a.btn.tooltipped.grey.lighten-4 {
    margin-left: 10px;
    margin-bottom: 10px;
    color: black;
}